
.filter-container {
  display: flex;
 justify-content: space-around;
 align-items: center;
  margin-bottom: 15px;
}

.filter {
  margin-top: 10px;
  margin-left: 2%;
  max-width: 200px; 
  max-height: 100px;
}